*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding:20px;
}

body{
    overflow: hidden;
}

#outer{

    height:8%;
    width:100%;
    background-color: gray;
    border-radius: 10px;
    margin:30px 0px;

}

#inner{
    height: 100%;
    width:0%;
    background-color: green;
    border-radius: 20px;
}

.bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

button{
    padding: 10px 20px ;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 15px;
    border:none;
}

button:hover{
    cursor: pointer;
}

button:active{
    scale: 0.95;
}
p{
    font-family: monospace;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}