*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}

main{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    gap:20px;
}



h1{
    font-size:70px;
    padding: 100px 150px;
    background-color: aquamarine;
    
}

button{
    border: none;
    color: white;
    background-color: red;
    padding: 13px 25px;
    border-radius: 10px;
}

button:active{
    scale: 0.95;
}

button:hover{
    cursor: pointer;
}