*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}

.container{
    height: 100vh;
    display: flex;
    background-color: black;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:15px


}

#box{
    height: 300px;
    width: 250px;
    background-color: rgba(41, 111, 41, 0.94);
    border-radius: 10px;
    border: 4px solid white;
}

button{
    margin: 10px;
    padding:10px 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

button:active{
    scale: 0.95;
} 