*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

body{
    overflow: hidden;
}

button{
    height: 50px;
    width: 150px;
    padding: 5px 5px;
    color: white;
    background-color: crimson;
    border-radius: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    z-index: 5;
}
h2{
    white-space: nowrap;
}

button:active{
    scale: 0.95;
}

button:hover{
    cursor: pointer;
}
